#Activating workflow
name: CI - Lint and Tests

on:
  push:
    branches:
      - main
      - test_calculadora
      - feature-*
  pull_request:
    branches:
      - main
      - test_calculadora

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - run: pip install flake8
      - run: flake8 .

  tests:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - run: pip install pytest
      - run: pytest
